#parent-container{
    display: flex;
    align-items: center;
    justify-content: start;
    padding: 1rem;
}

#parent-container .form-section{
    width: 68vw !important;
}

#carouselExampleDark{
    width: 32vw;
    height: 97vh;
    background: #FFFFFF;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 22px;
}

#carouselExampleDark .carousal-image{
    width: 18.75rem;
    height: 18.75rem;
    margin: 0 auto;
    margin-top: 3rem;
}

#parent-container .title{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 2rem;
    line-height: 2.375rem;  
    display: flex;
    align-items: center;
    color: #235789;
    align-items: center;
    width: fit-content;
    margin: 0 auto;
    margin-top: 12.9375rem;
}

.form-section{
    padding-left: 11.625rem;
}

.form-section .logo-title{
    text-align: center;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    /* identical to box height */
    display: flex;
    align-items: center;
    color: #235789;
    margin-bottom: 2.125rem;
}

.input-boxes form{
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.input-boxes form label{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 1rem;
    line-height: 1.75rem;
    display: flex;
    align-items: center;
    color: #235789;
    margin-bottom: 0.25rem;
}

.input-boxes form input{
    background: #FFFFFF;
    border: 1.5px solid #235789;
    border-radius: 12px;
    height: 2.375rem;
    margin-bottom: 0.75rem;
}

.col-part input{
    width: 30rem;
    display: block;

}

.input-boxes .col-part-two{
    justify-content: space-between;
    width: 30rem;
}

.input-boxes .col-part-two input{
    width: 14rem;
} 

.input-boxes form .action-btn{
    width: 30rem;
    height: 2.375rem;
    background: #235789;
    border: 2px solid #235789;
    border-radius: 12px;
    margin-top: 1.5rem;
    color: #fff;
}

.input-boxes form .action-btn:hover{
    background: #fff;
    border: 2px solid #235789;
    color: #235789;
}

.form-section .mid-text{
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 300;
    font-size: 1rem;
    text-align: center;
    color: #235789;
    width: 30rem;
    margin-top: 1rem;
}

button.action-btn{
    width: 30rem;
    height: 2.375rem;
    background: #9bc53d;
    border: 2px solid #9bc53d;
    border-radius: 12px;
    margin-top: 1.5rem;
    color: #fff;
}

button.action-btn:hover{
    background: #fff;
    border: 2px solid #9bc53d;
    color: #9bc53d;
}
